/* <<<<< Скидання >>>>> */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/* <<<<< /Скидання >>>>> */

:root {
    --accent-color: orangered;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

}
body {
    font-family: var(--primary-font);
    background: #FFFFFF;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* <<<<< Шапка сайта >>>>> */
.page-header {
    background: #FFFFFF; 
    border: 0.5px solid #F4F4FD;
    padding-top: 24px;
    padding-bottom: 24px; 
     
}
.page-header-container {
    display: flex;
    background: #FFFFFF; 
}
.page-nav {
    display: flex;
    align-items: center;
}
.logotype {
    margin-right: 77px;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
span {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.menu {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.menu-item:not(:last-child) {
    margin-right: 40px;
}
.menu-link {
    font-weight: 600;
    color: #2E2F42
} 
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.menu-contact  {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;   
}
.contact-mail {
    margin-right: 40px;
}
.contact-mail,
.contact-phone {
    color: #434455;
}

.contact-mail:hover,
.contact-mail:focus {
    color:var(--accent-color);
}
.contact-phone:hover,
.contact-phone:focus {
    color: var(--accent-color);
}
/* <<<<< /Шапка сайта >>>>> */

/* <<<<< Компоненти >>>>> */
.title {
    font-weight: 600;
    color: #2E2F42;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}
.page-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
/* <<<<< /Компоненти >>>>> */

/* <<<<< Тіло сторінки >>>>> */

/* <<<<< Герой >>>>> */
.hero {
    padding-top: 192px;
    padding-bottom: 192px;
    background-color: #2E2F42;
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.title-hero {
    display: flex;
    margin-bottom: 48px; 
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.btn {
    display: flex;  
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #4D5AE5
}
.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    
}
/* <<<<< /Герой >>>>> */

/* <<<<< Властивості >>>>> */
.properties {
    padding-top: 120px;
    padding-bottom: 120px;
}
.page-properties-list {
    display: flex;
    gap: 24px;
}
.properties-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.page-properties-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

/* <<<<< /Властивості >>>>> */

/* <<<<< Продукт >>>>> */
.product {
    padding-bottom: 120px;
}
.page-product-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.product-title {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
/* <<<<< /Продукт >>>>> */

/* <<<<< Команда >>>>> */
.employees {
    
    padding-top: 120px;
    padding-bottom: 120px;
    background: #F4F4FD;
}
.employees-container {
      
}
.page-employees-list {
    display: flex;  
    justify-content: center;
    gap: 24px;

}
.employees-title-text {
    padding-top: 32px;
    padding-bottom: 32px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.employees-title {
    display: flex;
    justify-content: center;
    margin-bottom: 72px; 
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.employees-name {
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.employees-position {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

/* <<<<< /Команда >>>>> */

/* <<<<< Футер >>>>> */
.footer-page {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2E2F42;   
}
.footer-container {
    display: flex;
    flex-direction: column;
    
    
}
.footer-logotype {
    display: flex;  
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer-span {
    color: #F4F4FD;}
.footer-text {
    display: flex;
    margin-top: 16px;
    width: 264px;
    color: #E7E9FC;
}
/* <<<<< /Футер >>>>> */

/* <<<<< Шапка портфоліо >>>>> */
/* <<<<< /Шапка портфоліо >>>>> */

/* <<<<< Тіло сторінки портфоліо >>>>> */

/* <<<<< Кнопки >>>>> */
.menu-btn {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 120px;    
    background-color: #FFFFFF;      
}
.filters-btn-list {
    display: flex;
    justify-content: center; 
    margin-bottom: 72px;
    gap: 24px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.btn-filters {
    display: flex;
    padding: 12px 24px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;

}
.btn-filters:hover,
.btn-filters:focus {
    background-color: #4D5AE5;
    color: #FFFFFF;
}
/* <<<<< /Кнопки >>>>> */

/* <<<<< Картки >>>>> */


.portfolio-list {
    display: flex;
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 48px;
       
}
.title-text{
    
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
 .card-text {
    margin-top: 8px;
}
.card-link {
    width: calc((100% - 48px) / 3);
}



/* <<<<< Картки >>>>> */

/* <<<<< /Картки >>>>> */

/* <<<<< /Тіло сторінки портфоліо >>>>> */
