:root {
    --accent-color: orangered;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

}
body {
    font-family: var(--primary-font);
    background: #FFFFFF;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/* <<<<< Шапка сайта >>>>> */
.logotype {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
span {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.menu {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.menu-link {
    font-weight: 600;
    color: #2E2F42
} 
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.menu-contact  {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.contact-mail,
.contact-phone {
    color: #434455;

}

.contact-mail:hover,
.contact-mail:focus {
    color:var(--accent-color);
}
.contact-phone:hover,
.contact-phone:focus {
    color: var(--accent-color);
}
/* <<<<< /Шапка сайта >>>>> */

/* <<<<< Компоненти >>>>> */
.title {
    font-weight: 600;
    color: #2E2F42;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}
.page-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
/* <<<<< /Компоненти >>>>> */

/* <<<<< Тіло сторінки >>>>> */

/* <<<<< Герой >>>>> */

.title-hero {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    
}
/* <<<<< /Герой >>>>> */

/* <<<<< Властивості >>>>> */
.page-prorties-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
/* <<<<< /Властивості >>>>> */

/* <<<<< Продукт >>>>> */
.product-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
/* <<<<< /Продукт >>>>> */

/* <<<<< Команда >>>>> */
.employees-title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.employees-name {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}
/* <<<<< /Команда >>>>> */

/* <<<<< Футер >>>>> */
.footer-text {
    color: #E7E9FC;
}
/* <<<<< /Футер >>>>> */

/* <<<<< Шапка портфоліо >>>>> */
/* <<<<< /Шапка портфоліо >>>>> */

/* <<<<< Тіло сторінки портфоліо >>>>> */
.filters-btn-list {
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
}

.btn-filters {
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
   
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;

}
.btn-filters:hover,
.btn-filters:focus {
    background-color: #4D5AE5;
    color: #FFFFFF;
}
/* <<<<< /Тіло сторінки портфоліо >>>>> */
